<!DOCTYPE html>
<!--
    template.html

    Created by Alezia Kurdis, February 24th 2023.
    Copyright 2023 Overte e.V.

    This is a template of a typical application using a HTML ui.
    You can use it to start to build your own project.

    Distributed under the Apache License, Version 2.0.
    See the accompanying file LICENSE or http://www.apache.org/licenses/LICENSE-2.0.html
-->
<html>
    <head>
        <meta charset="UTF-8">
        <script>
            var channel = "overte.application.more.avatar_manager";
            
            //Parameters (if you have transfered data using the get parameter in the url of the UI (html)
            var myParameter = findGetParameter("parameter");
            if(myParameter === null){myParameter = "DefaultValue";}
            //var myNumericParameter = parseInt(myParameter, 10); //Add this if the parameter is a number value (parseInt or parseFloat)

            //Paths
            var thisPageName = "avatar_toggles.html"; //<========= REPLACE VALUE        
            var currentPath = window.location.protocol + "//" + window.location.host + window.location.pathname;
            var ROOTPATH = currentPath.replace(thisPageName, ""); //<=== Could be useful

            //LISTENER FROM JS FILE. This is where you recieved message from the action call ed by the application (.js)
            EventBridge.scriptEventReceived.connect(function(message){
                messageObj = JSON.parse(message);
                if (messageObj.channel === channel) {
                    if (messageObj.action === "CALL_HTML_UI_ACTION_NAME") {
                        var myData = messageObj.data; //example about how to get the data sent.
                        //Do something here or call a function
                    }
                }
            });
            
            //======== Add your receievd Action functions here================
            
            //===============================================================

            function findGetParameter(parameterName) {
                var result = null,
                    tmp = [];
                var items = location.search.substr(1).split("&");
                for (var index = 0; index < items.length; index++) {
                    tmp = items[index].split("=");
                    if (tmp[0] === parameterName) result = decodeURIComponent(tmp[1]);
                }
                return result;
            }

        </script>
        <!-- CSS can be here for small project, or external for larger project. We better provide the fonts with the app. (use royalty free)-->
        <style>
            @font-face {
                font-family: FiraSans-SemiBold;
                src: url(fonts/FiraSans-SemiBold.ttf);
            }

            @font-face {
                font-family: FiraSans-Regular;
                src: url(fonts/FiraSans-Regular.ttf);
            }

            html {
                width: 100%;
                height: 100%;
            }

            body {
                background: #454545;
                font-family: FiraSans-Regular;
                font-size: 12px;
                color: #FFFFFF;
                text-decoration: none;
                font-style: normal;
                font-variant: normal;
                text-transform: none;
            }
            
            #uninstall {
                font-family: FiraSans-SemiBold;
                background-color: #222222;
                font-size: 9px;
                color: #cccccc;
                border-radius: 3px;
                border: 0px solid #000000;
                transition-duration: 0.2s;
                width: 100px;
                padding: 3px;
            }

            #uninstall:hover {
                background-color: #000000;
                color: #ffffff;
            }

            #uninstall:focus {
                outline: none;
            }
        </style>
        <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
        <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
        <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    </head>
    <body>

        <!-- Your UI here---->

        <div style="text-align: right; width:100%;">
            <button id="uninstall" onClick = "uninstall();">Uninstall this app</button>
        </div>
        <div id="toolbar">
            <button id="blendshapes_tab_button" onClick="switchPage('blendshapes_page');"> Blendshapes </button>
            
            
            
        </div>
        
        <div id="page_content">
            <div id="blendshapes_page">
                <button id="reloadbutton" onClick="reloadBlendshapes();">Reload Blendshapes</button>
                
                <p>shapekeys</p>
                <div id="blendshapes_list">
                
                
                </div>
                
            
            
            </div>
        </div>
        
        <script>
            //UI functions here
            // from: https://github.com/overte-org/overte-docs-sphinx/blob/master/source/_static/resources/script/flow/flowAppCpp/flowAppCpp.html
            function createInput(kind, type, name, config, callback) {
                var input = $("<input>").attr("type", type).attr("data-name", name).attr("data-kind", kind);
                input.attr("id", name).attr("name", name);
                if (type === "range") {
                    input.attr("step", config.step).attr("value", config.value).attr("min", config.min).attr("max", config.max);
                    input.attr("oninput", callback).attr("onchange", callback);
                } else if (type === "checkbox" && config.checked) {
                    input.attr("checked", "checked");
                }
                return input;
            }
            
            
            function switchPage(page_id){
                
                
                
                
            }
            
            
            function changeBlendShape(name){
                console.log(name + " was changed!");
                var value = document.getElementById(name).value;
                
                var message = {
                    "channel": channel,
                    "action": "SELF_SET_BLENDSHAPE",
                    "data": {
                        "blendshape": {
                            "name": name,
                            "value": value
                        }
                    }
                };
                EventBridge.emitWebEvent(JSON.stringify(message));
                
            }
            
            
            
            
            function createElement(kind, name, type, config, callback) {
                var element = $("<div>").addClass("unit-config half");
                var input = createInput(kind, type, name, config, callback);
                var label = $("<label>").text(name).attr("for", input.attr("id"));
                element.append(label).append(input);
                return element;
            }
            
            
            EventBridge.scriptEventReceived.connect(function (msg) {
                var message = JSON.Parse(msg);
                
                
                
                
                
                
            });
            
            
            
            //UI Action function here
            function uninstall() { //Example of a action called to the application (.js) (you can add the property you need to this, but minimally the channel and the action.
                var message = {
                    "channel": channel,
                    "action": "SELF_UNINSTALL"
                };
                EventBridge.emitWebEvent(JSON.stringify(message));
            }
            
            
            function reloadBlendshapes(){

                var supported_blendshapes = [
                    "EyeBlink_L",
                    "EyeBlink_R",
                    "EyeSquint_L",
                    "EyeSquint_R",
                    "EyeDown_L",
                    "EyeDown_R",
                    "EyeIn_L",
                    "EyeIn_R",
                    "EyeOpen_L",
                    "EyeOpen_R",
                    "EyeOut_L",
                    "EyeOut_R",
                    "EyeUp_L",
                    "EyeUp_R",
                    "BrowsD_L",
                    "BrowsD_R",
                    "BrowsU_C",
                    "BrowsU_L",
                    "BrowsU_R",
                    "JawFwd",
                    "JawLeft",
                    "JawOpen",
                    "JawRight",
                    "MouthLeft",
                    "MouthRight",
                    "MouthFrown_L",
                    "MouthFrown_R",
                    "MouthSmile_L",
                    "MouthSmile_R",
                    "MouthDimple_L",
                    "MouthDimple_R",
                    "LipsStretch_L",
                    "LipsStretch_R",
                    "LipsUpperClose",
                    "LipsLowerClose",
                    "LipsFunnel",
                    "LipsPucker",
                    "Puff",
                    "CheekSquint_L",
                    "CheekSquint_R",
                    "MouthClose",
                    "MouthUpperUp_L",
                    "MouthUpperUp_R",
                    "MouthLowerDown_L",
                    "MouthLowerDown_R",
                    "MouthPress_L",
                    "MouthPress_R",
                    "MouthShrugLower",
                    "MouthShrugUpper",
                    "NoseSneer_L",
                    "NoseSneer_R",
                    "TongueOut",
                    "UserBlendshape0",
                    "UserBlendshape1",
                    "UserBlendshape2",
                    "UserBlendshape3",
                    "UserBlendshape4",
                    "UserBlendshape5",
                    "UserBlendshape6",
                    "UserBlendshape7",
                    "UserBlendshape8",
                    "UserBlendshape9"
                ]
                $("#blendshapes_list").empty();
                for(i in supported_blendshapes){
                    
                    $("#blendshapes_list").append(createElement("blendshape", supported_blendshapes[i], "range", {"value":0,"min":0,"max":1,"step":.05},"changeBlendShape(\""+supported_blendshapes[i]+"\");"));
                }
            }
        </script>
    </body>
</html>
